#!/usr/bin/env bash
# -*- mode: sh; -*-
# (rootdir)/.envrc : direnv configuration file
# direnv: https://direnv.net/

# Create the virtualenv if not yet done
layout virtualenv 3.11.5 engineer_gpt
# activate it
layout activate engineer_gpt-3.11.5
# Load dotenv
dotenv_if_exists

